<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Productos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Fecha</th>
                        <th>Acciones</th>

                    </tr>

                </thead>
                <tbody>
                    <tr class="text-left" *ngFor="let producto of productos">
                        <td>{{producto.id }}</td>
                        <td>{{producto.nombre }}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.fechaCreacion}}</td>
                        <td>
                                <button class="btn btn-warning">Editar</button>
                                <button class="btn btn-danger">Eliminar</button>

                        </td>

                    </tr>

                </tbody>


            </table>
        </div>



    </div>


</div>